/* Sliding bar loader animation */
.bar-loader {
    --bar-color: currentColor;
    --bar-bg-color: #ddd;

    width: 120px;
    height: 20px;
    -webkit-mask: linear-gradient(90deg, #000 70%, #0000 0) left/20% 100%;
    mask: linear-gradient(90deg, #000 70%, #0000 0) left/20% 100%;
    background: linear-gradient(var(--bar-color) 0 0) left -25% top 0 / 20% 100% no-repeat var(--bar-bg-color);
    animation: bar-loader-animation 1s infinite steps(6);
}

@keyframes bar-loader-animation {
    100% {
        background-position: right -25% top 0;
    }
}